* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2{
  font-size: 35pt;
}

h2{
  font-family: "Acme", sans-serif;
  color: #b2b4ac;
}

h4{
  font-family: "Acme", sans-serif;
  font-size: 20pt;
  color: #17234dda;
}

p{
  color: #3d4128;
  font-family: "Acme", sans-serif;
  padding-bottom: 3%;
  font-size: 15pt;
}
li{
  color: #3d4128;
  font-family: "Acme", sans-serif;
  font-size: 15pt;
}

@media (max-width: 800px) {
  p, li{
    font-size: 12pt;
  }
} 

h2{
  padding-top: 2%;
  padding-bottom: 3%;
}

h4{
  padding-top: 4%;
  padding-bottom: 2%;
}

main {
  text-align: center;
  padding: 0 5% 0 5%;
  width: 100vw;
  background-color: #808d4d;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px 10px 0;
  align-items: center;
}

.logo {
  max-height: 100px;
}
.select_menu {
  display: flex;
  grid-column-gap: 20px;
}

.select_menu_mobile {
  display: none;
  flex-direction:column; /* Mostrar como una lista uno debajo del otro */
  align-items: center;
}

.menu_derecho {
  display:none;
}

@media (max-width: 1000px) {
  .select_menu {
    display: none;
  }

  .menu_derecho {
    display: block;
  }
} 

.select {
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: #f2f4e6;
}

.des_menu {
  width: 2rem;
  height: 2rem;
}

header {
  background-color: #808d4d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.hero {
  background-image: url(./images/home.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

@media (max-width: 1000px) {
  .hero {
    height: 500px;
  }
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 115px; 
}

.img_us {
  aspect-ratio: 1.36;
  width: 100%;
}

.us1 {
  background-image: url(./images/Familia.jpg);
  background-size: cover;
}

.us2 {
  background-image: url(./images/Alejo.png);
  background-size: cover;
}

.img-sec1{
  width: 90%;
  display: flex;
  gap: 8%;
}

@media (max-width: 1000px) {
  .img-sec1 {
    display: grid;
    gap: 8%;
  }
}

.myv {
  display: flex;
  padding-top: 80px;
  gap: 8%;
}

@media (max-width: 1000px) {
  .myv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8%;
  }
}

.mis{
  aspect-ratio: 1.35;
  width: 95%;
  background-image: url(./images/mision.jpeg);
  background-size: cover;
}

.vis{
  aspect-ratio: 1.7;
  width: 95%;
  background-image: url(./images/vision.jpeg);
  background-size: cover;
}

.nshis{
  width: 90%;
  display: flex;
  gap: 8%;
}

@media (max-width: 800px) {
  .nshis {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.nh {
  aspect-ratio: 1;
  width: 100%;
}

.nh1 {
  background-image: url(./images/nh1.png);
  background-size: cover;
}

.nh2 {
  background-image: url(./images/nh2.png);
  background-size: cover;
}

.nh3 {
  background-image: url(./images/Nuestra_historia.jpg);
  background-size: cover;
}

.ma1{
  aspect-ratio: 1.33;
  border-radius: 10px;
  width: 70%;
  background-image: url(./images/memoria_2004.jpg);
  background-size: cover;
}

.ma2{
  aspect-ratio: 1.33;
  border-radius: 10px;
  width: 70%;
  background-image: url(./images/memoria_2023.jpg);
  background-size: cover;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 115px;
}

.ubication {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5%;
}

@media (max-width: 1000px) {
  .ubication {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.ubication iframe {
  border-radius: 30px;
  width: 600px;
  height: 450px;
  padding-top: 3%;
}

@media (max-width: 1000px) {
  .ubication iframe {
    border-radius: 20px;
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 500px) {
  .ubication iframe {
    border-radius: 10px;
    width: 300px;
    height: 225px;
  }
}

.section3{
  padding-top: 115px; 
}

.biodiver{
  width: 100%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.biodiver2{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.logos1{
  width: 70%;
  margin:auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

/* .logos2{
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
} */

@media (max-width: 1200px){
  .biodiver,.biodiver2 {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 590px){
  .biodiver,.biodiver2 {
      grid-template-columns: 1fr;
  }

  .logos1 {
    grid-template-columns: repeat(3, 1fr);
  }
}


.img_div{
  width: 100%;
  background-size: cover;
  aspect-ratio: 1.33;
  padding: 1rem 1rem;
}

.logoss{
  width: 80%;
  background-size: cover;
  aspect-ratio: 1;
  padding: 1rem 1rem;
}

.bio1{
  background-image: url(./images/Sarcoramphus_papa.JPG);
}
.bio2{
  background-image: url(./images/Saguinus_leucopus.jpg);
}
.bio3{
  background-image: url(./images/Bothrops_asper.jpg);
}
.bio4{
  background-image: url(./images/Trogon_caligatus.JPG);
}
.bio5{
  background-image: url(./images/Lontra_longicaudis.jpg);
}
.bio6{
  background-image: url(./images/Alouatta_seniculus.jpg);
}
.bio7{
  background-image: url(./images/Hyalinobatrachium_tatayoi.jpg);
}

.logo1{
  background-image: url(./images/Argos.png);
}
.logo2{
  background-image: url(./images/Humboldt.png);
}
.logo3{
  background-image: url(./images/Huella_viva_c.png);
}
.logo4{
  background-image: url(./images/Natura.png);
}
.logo5{
  background-image: url(./images/SAO.png);
}
.logo6{
  background-image: url(./images/UNAL.png);
}
.logo7{
  background-image: url(./images/udea.png);
}
.logo8{
  background-image: url(./images/Unisarc.png);
}
.logo9{
  background-image: url(./images/CES.png);
}

.section4{
  padding-top: 115px; 
}


.sdi {
  display: grid;
  grid-template-columns:repeat(3,1fr);
  align-items: center;
  padding-top: 5px;
  margin: 2rem auto;
}

@media screen and (max-width: 700px) {
  .sdi {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
    grid-gap: 10px; /* Espacio entre elementos en la columna */
  }
}

.casc{
  aspect-ratio: 0.75;
  width: 90%;
  background-image: url(./images/cascada.jpeg);
  background-size: cover;
  margin: auto;
}

.mir{
  aspect-ratio: 0.75;
  width: 90%;
  background-image: url(./images/mirador.jpeg);
  background-size: cover;
  margin: auto;

}

.rio{
  aspect-ratio: 0.75;
  width: 90%;
  background-image: url(./images/Rio1.jpg);
  background-size: cover;
  margin: auto;

}

.sites{
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 1200px){
  .sites {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 590px){
  .sites {
      grid-template-columns: 1fr;
  }
}

.img_sit{
  width: 100%;
  background-size: cover;
  aspect-ratio: 0.75;
  padding: 1rem 1rem;
}

.sit1{
  background-image: url(./images/cascada.jpeg);
}
.sit2{
  background-image: url(./images/mirador.jpeg);
}
.sit3{
  background-image: url(./images/Rio1.jpg)
}

.section5{
  padding-top: 115px;
}

ul{
  text-align: center;
  padding: 0 5% 5% 5%;
}

.modales {
  aspect-ratio: 1.33;
  width: 100%;
  display: flex;
  gap: 8%;
}

.casc1 {
  background-image: url(./images/Cascada1.jpg);
  background-size: cover;
}

.sende{
  background-image: url(./images/Mapa1.jpg);
  background-size: cover;
}

.rio2{
  background-image: url(./images/Rio2.jpg);
  background-size: cover;
}

.camping{
  background-image: url(./images/camping.jpg);
  background-size: cover;
}

.hospedaje{
  background-image: url(./images/Hospedaje.jpg);
  background-size: cover;
}

.recorridos{
  background-image: url(./images/Recorridos.png);
  background-size: cover;
}

.piscina{
  background-image: url(./images/Piscina.png);
  background-size: cover;
}

.vacas{
  background-image: url(./images/Vacas.jpg);
  background-size: cover;
}

.cascada2{
  background-image: url(./images/Cascada2.jpg);
  background-size: cover;
}

.activ{
  background-image: url(./images/Actividades.jpg);
  background-size: cover;
}

.mieles{
  background-image: url(./images/Mieles.jpg);
  background-size: cover;
}

.section6{
  padding-top: 115px;
}

.section6 img {
  width: 2rem;
  height: 2rem;
}



.section6 div {
  padding-bottom: 20%;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}
